version: "3.9"

services:
  mariadb:
    image: mariadb:latest
    container_name: desafio-mariadb
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: desafio
      MARIADB_USER: desafio
      MARIADB_PASSWORD: 123456
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

  redis:
    image: redis:latest
    container_name: desafio-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: desafio-phpmyadmin
    environment:
      PMA_HOST: mariadb
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - mariadb

volumes:
  mariadb_data:
  redis_data:
